<div class="galerie">
  {% for obrazek in obrazky %}
    <div class="galerie__polozka">
      <img class="galerie__obrazek" src="/obrazky/nahled/{{ obrazek.soubor }}" alt="{{ obrazek.popisek }}" width="194" height="194">
      <h3 class="galerie__popisek">{{ obrazek.popisek }}</h3>
    </div>
  {% endfor %}
</div>
