---
layout: zakladni
pagination:
  data: obrazky
  size: 1
  alias: obrazek
permalink: "/obrazek/{{ obrazek.popisek | slug }}/"
---

<a href="/" class="nadpis">
	<div class="nadpis__zpet">Zpět</div>
	<h2 class="nadpis__popisek">
		{{ obrazek.popisek }}
	</h2>
</a>

<img class="original" src="/obrazky/original/{{ obrazek.soubor }}" alt="{{ obrazek.popisek }}" width="{{ obrazek.original.sirka }}" height="{{ obrazek.original.vyska }}">
