---
layout: zakladni
pagination:
  data: obrazky
  size: 1
  alias: obrazek
permalink: "/obrazek/{{ obrazek.popisek | slug }}/"
---

<a href="/" class="nadpis">
	<div class="nadpis__zpet">Zpět</div>
	<h2 class="nadpis__popisek">
		Padající listí
	</h2>
</a>

<img class="original" src="/obrazky/original/padajici-listi.jpg" alt="Padající listí" width="1920" height="1280">
